# Ignora arquivos do SonarLint
.sonarlint/


# Arquivos de build do Java
*.class

# Pastas de saída
/out/
/bin/

# Arquivos de log
*.log

# Configurações do VS Code
.vscode/

# Mac OS e Windows
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos do Eclipse/IntelliJ (caso use)
*.iml
.idea/
*.classpath
*.project
.settings/

# OneDrive ou sincronizadores
*.lnk
